
#header {
	margin-top: 0px;
	}

span.initialcap {
	width: 150px;
	height: 110px;
	line-height: 80px;
    	padding-top: 20px;
	}

.ptitle{
	margin-bottom: 10px;
	}

.postmetadata {
	margin-top: 10px;
	}